In [1]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv('/Users/andreacalcagni/code/AndreaCalcagni/neuroCraft/raw_data/CLEAR Corpus 6.01 - CLEAR Corpus 6.01.csv')

In [3]:
df.head()

,ID,Last Changed,Author,Title,Anthology,URL,Source,Pub Year,Category,Location,...,CAREC_M,CARES,CML2RI,firstPlace_pred,secondPlace_pred,thirdPlace_pred,fourthPlace_pred,fifthPlace_pred,sixthPlace_pred,Kaggle split
0,400,NaN,Carolyn Wells,Patty's Suitors,NaN,http://www.gutenberg.org/cache/epub/5631/pg563...,gutenberg,1914.0,Lit,mid,...,0.11952,0.457534,12.097815,-0.383831,-0.283604,-0.346879,-0.281620,-0.247767,-0.289945,Train
1,401,NaN,Carolyn Wells,Two Little Women on a Holiday,NaN,http://www.gutenberg.org/cache/epub/5893/pg589...,gutenberg,1917.0,Lit,mid,...,0.04921,0.462510,22.550179,-0.260307,-0.209960,-0.061565,-0.234231,-0.201347,-0.156156,Train
2,402,NaN,Carolyn Wells,Patty Blossom,NaN,http://www.gutenberg.org/cache/epub/20945/pg20...,gutenberg,1917.0,Lit,mid,...,0.09724,0.369259,18.125279,-0.615037,-0.530600,-0.527847,-0.550180,-0.565762,-0.538852,Train
3,403,NaN,CHARLES KINGSLEY,THE WATER-BABIES\nA Fairy Tale for a Land-Baby,NaN,http://www.gutenberg.org/files/25564/25564-h/2...,gutenberg,1863.0,Lit,mid,...,0.08856,0.390759,10.959460,-1.528806,-1.525546,-1.471455,-1.265776,-1.422547,-1.393155,Test
4,404,NaN,Charles Kingsley,HOW THE ARGONAUTS WERE DRIVEN INTO THE UNKNOWN...,The Heroes\n or Greek Fairy Tales for my...,http://www.gutenberg.org/files/677/677-h/677-h...,gutenberg,1889.0,Lit,mid,...,0.08798,0.389226,3.195960,-1.335586,-1.321922,-1.163985,-1.122501,-1.185518,-1.271324,Train

In [4]:
df.columns

Index(['ID', 'Last Changed', 'Author', 'Title', 'Anthology', 'URL', 'Source',
       'Pub Year', 'Category', 'Location', 'License', 'MPAA\nMax',
       'MPAA \n#Max', 'MPAA\n#Avg', 'Excerpt', 'Google\nWC', 'Joon\nWC v1',
       'British WC', 'British Words', 'Sentence\nCount v1',
       'Sentence\nCount v2', 'Paragraphs', 'BT Easiness', 'BT s.e.',
       'Flesch-Reading-Ease', 'Flesch-Kincaid-Grade-Level',
       'Automated Readability Index', 'SMOG Readability',
       'New Dale-Chall Readability Formula', 'CAREC', 'CAREC_M', 'CARES',
       'CML2RI', 'firstPlace_pred', 'secondPlace_pred', 'thirdPlace_pred',
       'fourthPlace_pred', 'fifthPlace_pred', 'sixthPlace_pred',
       'Kaggle split'],
      dtype='object')

In [5]:
df = df.drop(columns=['Last Changed', 'URL', 'Anthology', 'MPAA \n#Max', 'License', 'British Words', 'Flesch-Reading-Ease', 'Flesch-Kincaid-Grade-Level',
       'Automated Readability Index', 'SMOG Readability',
       'New Dale-Chall Readability Formula', 'CAREC', 'CAREC_M', 'CARES',
       'CML2RI', 'firstPlace_pred', 'secondPlace_pred', 'thirdPlace_pred',
       'fourthPlace_pred', 'fifthPlace_pred', 'sixthPlace_pred'])

In [6]:
df.head()

,ID,Author,Title,Source,Pub Year,Category,Location,MPAA\nMax,MPAA \n#Max,MPAA\n#Avg,Excerpt,Google\nWC,Joon\nWC v1,British WC,Sentence\nCount v1,Sentence\nCount v2,Paragraphs,BT Easiness,BT s.e.,Kaggle split
0,400,Carolyn Wells,Patty's Suitors,gutenberg,1914.0,Lit,mid,G,1,1.0,When the young people returned to the ballroom...,174,179,1,11,11,6,-0.340259,0.464009,Train
1,401,Carolyn Wells,Two Little Women on a Holiday,gutenberg,1917.0,Lit,mid,PG,2,1.5,"All through dinner time, Mrs. Fayre was somewh...",164,184,0,15,15,6,-0.315372,0.480805,Train
2,402,Carolyn Wells,Patty Blossom,gutenberg,1917.0,Lit,mid,PG,2,1.5,"As Roger had predicted, the snow departed as q...",162,180,0,11,11,5,-0.580118,0.476676,Train
3,403,CHARLES KINGSLEY,THE WATER-BABIES\nA Fairy Tale for a Land-Baby,gutenberg,1863.0,Lit,mid,PG-13,3,3.0,Mr. Grimes was to come up next morning to Sir ...,159,160,0,3,3,1,-1.785965,0.526599,Test
4,404,Charles Kingsley,HOW THE ARGONAUTS WERE DRIVEN INTO THE UNKNOWN...,gutenberg,1889.0,Lit,mid,PG,2,1.5,And outside before the palace a great garden w...,163,164,1,5,5,2,-1.054013,0.450007,Train

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4724 entries, 0 to 4723
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 4724 non-null   int64
 1   Author             4724 non-null   object
 2   Title              4724 non-null   object
 3   Source             4724 non-null   object
 4   Pub Year           4715 non-null   float64
 5   Category           4724 non-null   object
 6   Location           4724 non-null   object
 7   MPAA
Max           4724 non-null   object
 8   MPAA
#Max         4724 non-null   int64
 9   MPAA
#Avg          4724 non-null   float64
 10  Excerpt            4724 non-null   object
 11  Google
WC          4724 non-null   int64
 12  Joon
WC v1         4724 non-null   int64
 13  British WC         4724 non-null   int64
 14  Sentence
Count v1  4724 non-null   int64
 15  Sentence
Count v2  4724 non-null   int64
 16  Paragraphs         4724 non-null   int64
 17  BT Easiness        4724 non-null   float64
 18  BT s.e.            4724 non-null   float64
 19  Kaggle split       4724 non-null   object
dtypes: float64(4), int64(8), object(8)
memory usage: 738.2+ KB

In [8]:
profile = ProfileReport(df, title="Profiling Report")

In [9]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [10]:
df.Source.value_counts()

Source
gutenberg             2916
kids.frontiersin       458
commonlit              296
simple.wikipedia       275
wikipedia              274
africanstorybook       250
online-literature       95
digitallibrary          61
freekidsbooks           50
static.ehe.osu.edu      16
wikibooks               13
ukuqonda.co.za           4
ck12                     4
drive.google.com         4
emedia.uen.org           3
beyondpenguins           2
openschool.bc.ca         1
wikisource               1
beyondweather            1
Name: count, dtype: int64

In [14]:
df['MPAA\nMax'].value_counts()

MPAA\nMax
G        3706
PG        928
PG-13      87
R           3
Name: count, dtype: int64

In [21]:
df['Pub Year'] = pd.to_datetime(df['Pub Year']).dt.year

In [22]:
df.head()

,ID,Author,Title,Source,Pub Year,Category,Location,MPAA\nMax,MPAA \n#Max,MPAA\n#Avg,Excerpt,Google\nWC,Joon\nWC v1,British WC,Sentence\nCount v1,Sentence\nCount v2,Paragraphs,BT Easiness,BT s.e.,Kaggle split
0,400,Carolyn Wells,Patty's Suitors,gutenberg,1970.0,Lit,mid,G,1,1.0,When the young people returned to the ballroom...,174,179,1,11,11,6,-0.340259,0.464009,Train
1,401,Carolyn Wells,Two Little Women on a Holiday,gutenberg,1970.0,Lit,mid,PG,2,1.5,"All through dinner time, Mrs. Fayre was somewh...",164,184,0,15,15,6,-0.315372,0.480805,Train
2,402,Carolyn Wells,Patty Blossom,gutenberg,1970.0,Lit,mid,PG,2,1.5,"As Roger had predicted, the snow departed as q...",162,180,0,11,11,5,-0.580118,0.476676,Train
3,403,CHARLES KINGSLEY,THE WATER-BABIES\nA Fairy Tale for a Land-Baby,gutenberg,1970.0,Lit,mid,PG-13,3,3.0,Mr. Grimes was to come up next morning to Sir ...,159,160,0,3,3,1,-1.785965,0.526599,Test
4,404,Charles Kingsley,HOW THE ARGONAUTS WERE DRIVEN INTO THE UNKNOWN...,gutenberg,1970.0,Lit,mid,PG,2,1.5,And outside before the palace a great garden w...,163,164,1,5,5,2,-1.054013,0.450007,Train

# Feature Creation

### Adding Excerpt lenght in characters feature

In [23]:
df['len_char'] = df['Excerpt'].apply(lambda x: len(x))

### Adding Punctuation Ratio

In [24]:
import string

def count_punctuation(x):

    punc = string.punctuation

    count=0

    for char in x:
        if char in punc:
            count+=1

    return count/ len(x)

df['punctuation_ratio'] = df['Excerpt'].apply(count_punctuation)

df.head()

,ID,Author,Title,Source,Pub Year,Category,Location,MPAA\nMax,MPAA \n#Max,MPAA\n#Avg,...,Joon\nWC v1,British WC,Sentence\nCount v1,Sentence\nCount v2,Paragraphs,BT Easiness,BT s.e.,Kaggle split,len_char,punctuation_ratio
0,400,Carolyn Wells,Patty's Suitors,gutenberg,1970.0,Lit,mid,G,1,1.0,...,179,1,11,11,6,-0.340259,0.464009,Train,992,0.027218
1,401,Carolyn Wells,Two Little Women on a Holiday,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,184,0,15,15,6,-0.315372,0.480805,Train,937,0.059765
2,402,Carolyn Wells,Patty Blossom,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,180,0,11,11,5,-0.580118,0.476676,Train,908,0.051762
3,403,CHARLES KINGSLEY,THE WATER-BABIES\nA Fairy Tale for a Land-Baby,gutenberg,1970.0,Lit,mid,PG-13,3,3.0,...,160,0,3,3,1,-1.785965,0.526599,Test,848,0.036557
4,404,Charles Kingsley,HOW THE ARGONAUTS WERE DRIVEN INTO THE UNKNOWN...,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,164,1,5,5,2,-1.054013,0.450007,Train,909,0.036304

### Adding Average Sentence Lenght

In [25]:
def sentence_len(x):

    x = x.replace("?",'.').replace("!",'.')

    sentences = x.split('.')

    sentences = [sentence for sentence in sentences if len(sentence) > 0]

    sent_len = [len(sentence.split()) for sentence in sentences]

    return np.mean(sent_len)

In [26]:
df['avg_sentence_len'] = df['Excerpt'].apply(sentence_len)

df.head()

,ID,Author,Title,Source,Pub Year,Category,Location,MPAA\nMax,MPAA \n#Max,MPAA\n#Avg,...,British WC,Sentence\nCount v1,Sentence\nCount v2,Paragraphs,BT Easiness,BT s.e.,Kaggle split,len_char,punctuation_ratio,avg_sentence_len
0,400,Carolyn Wells,Patty's Suitors,gutenberg,1970.0,Lit,mid,G,1,1.0,...,1,11,11,6,-0.340259,0.464009,Train,992,0.027218,16.272727
1,401,Carolyn Wells,Two Little Women on a Holiday,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,0,15,15,6,-0.315372,0.480805,Train,937,0.059765,10.235294
2,402,Carolyn Wells,Patty Blossom,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,0,11,11,5,-0.580118,0.476676,Train,908,0.051762,13.076923
3,403,CHARLES KINGSLEY,THE WATER-BABIES\nA Fairy Tale for a Land-Baby,gutenberg,1970.0,Lit,mid,PG-13,3,3.0,...,0,3,3,1,-1.785965,0.526599,Test,848,0.036557,39.750000
4,404,Charles Kingsley,HOW THE ARGONAUTS WERE DRIVEN INTO THE UNKNOWN...,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,1,5,5,2,-1.054013,0.450007,Train,909,0.036304,32.800000

### Adding average word lenght in chars

In [28]:
def avg_word_lenght(x):

    punctuation = string.punctuation
    for punc in punctuation:
        x = x.replace(punc,' ')

    words = x.split(' ')

    words = [word for word in words if len(word) > 0]

    word_len = [len(word) for word in words]

    return np.mean(word_len)

In [29]:
df['avg_word_len'] = df['Excerpt'].apply(avg_word_lenght)

df.head()

,ID,Author,Title,Source,Pub Year,Category,Location,MPAA\nMax,MPAA \n#Max,MPAA\n#Avg,...,Sentence\nCount v1,Sentence\nCount v2,Paragraphs,BT Easiness,BT s.e.,Kaggle split,len_char,punctuation_ratio,avg_sentence_len,avg_word_len
0,400,Carolyn Wells,Patty's Suitors,gutenberg,1970.0,Lit,mid,G,1,1.0,...,11,11,6,-0.340259,0.464009,Train,992,0.027218,16.272727,4.375691
1,401,Carolyn Wells,Two Little Women on a Holiday,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,15,15,6,-0.315372,0.480805,Train,937,0.059765,10.235294,4.102857
2,402,Carolyn Wells,Patty Blossom,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,11,11,5,-0.580118,0.476676,Train,908,0.051762,13.076923,4.000000
3,403,CHARLES KINGSLEY,THE WATER-BABIES\nA Fairy Tale for a Land-Baby,gutenberg,1970.0,Lit,mid,PG-13,3,3.0,...,3,3,1,-1.785965,0.526599,Test,848,0.036557,39.750000,4.018293
4,404,Charles Kingsley,HOW THE ARGONAUTS WERE DRIVEN INTO THE UNKNOWN...,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,5,5,2,-1.054013,0.450007,Train,909,0.036304,32.800000,4.275449

### Adding Average Number of Words per Sentence

In [30]:
df['avg_word_sent'] = df['Google\nWC']/df['Sentence\nCount v1']
df.head()

,ID,Author,Title,Source,Pub Year,Category,Location,MPAA\nMax,MPAA \n#Max,MPAA\n#Avg,...,Sentence\nCount v2,Paragraphs,BT Easiness,BT s.e.,Kaggle split,len_char,punctuation_ratio,avg_sentence_len,avg_word_len,avg_word_sent
0,400,Carolyn Wells,Patty's Suitors,gutenberg,1970.0,Lit,mid,G,1,1.0,...,11,6,-0.340259,0.464009,Train,992,0.027218,16.272727,4.375691,15.818182
1,401,Carolyn Wells,Two Little Women on a Holiday,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,15,6,-0.315372,0.480805,Train,937,0.059765,10.235294,4.102857,10.933333
2,402,Carolyn Wells,Patty Blossom,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,11,5,-0.580118,0.476676,Train,908,0.051762,13.076923,4.000000,14.727273
3,403,CHARLES KINGSLEY,THE WATER-BABIES\nA Fairy Tale for a Land-Baby,gutenberg,1970.0,Lit,mid,PG-13,3,3.0,...,3,1,-1.785965,0.526599,Test,848,0.036557,39.750000,4.018293,53.000000
4,404,Charles Kingsley,HOW THE ARGONAUTS WERE DRIVEN INTO THE UNKNOWN...,gutenberg,1970.0,Lit,mid,PG,2,1.5,...,5,2,-1.054013,0.450007,Train,909,0.036304,32.800000,4.275449,32.600000

### Adding Lexical Diversity Scores

### Adding Morphological Information